.index-body{
    font-family: "Inter", sans-serif;
    background-color: #f2e8cf;
    text-align: center;
    box-sizing: border-box;
    color: #386641;
    padding: 0;
    margin: 0;
}

.index-title {
    font-size: 64px;
}

.index-description, .index-list {
    font-size: 32px;
}

.index-list {
    display: inline;
    list-style: none;
}

li, a {
    margin: 16px auto;
    padding: 16px;
    color: #f2e8cf;
    background-color: #386641;
    text-decoration: none;
    border-radius: 30px;
    width: 500px;
}

.color-change {
    color: #bc4749;
}

footer {
    font-size: 20px;
    margin-top: 350px;
}